html, body {
  height: 100%;
  width: 100%;
}

/* Colors */

:root{
    --header-height: 4.5rem;

  /* colors */
  --hue: 15;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 20%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
}

body {
  background-color: #F8F1DF;
}

/* Header */

#portifolio {
  background-color: #E0DBBF;
  width: 25rem;
  padding: 16 4rem;
  border-radius: 1.3rem;
  text-align: center;
  align-items: center;
  border: 0.1rem solid #F9E5D4;
  margin-top: 1rem;
  margin-left: auto;
  margin-bottom: 1 auto;
  margin-right: auto;
}

/* Navigation Bar */

.mnav {
  align-content: center;
  display: inline;
}

.bnav {
  width: 10rem;
  margin: 1rem;
  height: 3rem;
  border-radius: 0.25rem;
  border-width: 0.001rem;
  background-color: #FFFDDE;
  transition: 0.3s;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  
}

.bnav:hover {
  background-color: #E0DBBF;
}

/* Card Elements */

.grid .card {
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: left;
  width: 70%;
  margin: 0 auto;
  align
}

.cardtitle {
  width: 50%;
  margin: -3.5rem 1rem;
  display: flex;
}

.cardcontent {
  /* display: block;*/ 
  margin: 4rem 1rem;
  text-align: justify;
}