html, body {
  height: 100%;
  width: 100%;
}

/* Colors */

:root{
    --header-height: 4.5rem;

  /* colors */
  --hue: 250;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 20%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
}

body {
  background-color: #F8F1DF;
}

/* Header */

#portifolio {
  background-color: var(--title-color);
  color: var(--text-color-light);
  width: 25rem;
  padding: 16 4rem;
  border-radius: 1.3rem;
  text-align: center;
  align-items: center;
  border: 0.1rem solid #F9E5D4;
  margin-top: 1rem;
  margin-left: auto;
  margin-bottom: 1 auto;
  margin-right: auto;
}

/* Navigation Bar */

.mnav {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.bnav {
  width: 10rem;
  margin: 1rem;
  height: 3rem;
  border-radius: 0.25rem;
  border-width: 0.001rem;
  background-color: #FFFDDE;
  transition: 1s;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  
}

.bnav:hover {
  background-color: #E0DBBF;
}

/* Card Elements */

.grid .card {
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: left;
  width: 80%;
  height: 15rem;
  margin: 0 auto;
  align-items: start;
}

.card .cardcontent {
  
}

.cardtitle {
  width: 111%;
  margin: -3.5rem -2rem;
  display: flex;
  border-radius: 0.25rem 0.25rem 0 0;
  background-color: var(--base-color-second);
  padding-left: 1.5rem;
}

.cardcontent {
  margin: 11rem 0rem;
  /*margin-bottom: -10rem;*/
  text-align: justify;
  border: 0rem 1rem;
  /*position: relative;*/
}

/* Side bar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}